#box{
    height: 200px;
    width: 600px;
    border: 2px solid black;
    margin: auto;
    position:center;
}

.rex{
    max-height: 110px;
    max-width: 110px;
    position: top;
top:200px;
animation: jump 0.3s linear;
}

.jump {
    animation: jump 0.3s linear;
}

@keyframes jump{
    0%
    {
        top: 150px;
}
25%
{
   top: 125px;
}
50%{
    top:70px;
}
80%{
    top:125px;
}
100%{
    top: 150px
}
}



.tree{
    max-height: 70px;
    max-width: 70px;
    position: top;
top: 120px;
left: 910px;
animation: move 1s infinite linear;
}

@keyframes move {
    0%{
        left:910px;
    }
    100%{
        left:-20px;
    }
}